output/
obj/
bin/
test-results/
*.suo
*.resharper
*.user
_ReSharper.*
config/
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.resources
$(Configuration)
*.orig
*.pdb
*.ncrunchproject
*.ncrunchsolution
build/nuget.exe
*.cache
*.nupkg
packages/
.idea/

.vs/
